# Node
node_modules/
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Env
backend/.env
frontend/.env
server/.env
client/.env

client/uploads/

# Build
dist/
frontend/dist/
backend/dist/

# Logs
*.log

# Editor
.vscode/
.idea/
